In [6]:
import numpy as np
import pandas as pd

In [18]:
data_benin = pd.read_csv('../data/benin-malanville.csv')

## Data Overview

In [20]:
data_benin.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

## Data cleaning

In [38]:
missing_values = data_benin.isnull().sum()
print("missing_values in each column")
print(missing_values)

missing_values in each column
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [32]:
columns_to_check = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust', 'Precipitation']

# Count negative values in each of these columns
negative_values_report = data_benin[columns_to_check].lt(0).sum()
print("Number of negative values in each column:")
print(negative_values_report)

Number of negative values in each column:
GHI              258847
DNI              275987
DHI              259182
ModA                  0
ModB                  0
WS                    0
WSgust                0
Precipitation         0
dtype: int64

In [34]:
# Remove rows where any of the listed columns contain negative values
data_benin_cleaned = data_benin[(data_benin[columns_to_check] >= 0).all(axis=1)]
print(f"Original DataFrame size: {data_benin.shape}")
print(f"Cleaned DataFrame size: {data_benin_cleaned.shape}")

Original DataFrame size: (525600, 19)
Cleaned DataFrame size: (246878, 19)